body{
  background-color: #1d3a52;
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
}

.grid-3-1 {
  justify-content: center;
  grid-template: 50vh 45vh/ 20vw 30vw 20vw;
}

.box {
  display: flex;
  background-color: aquamarine;
  border: 1px solid black;
}

.leftBox {
  margin: 0px 5px 5px 0px;
}

.centerBox {
  margin: 0px 0px 5px 0px;
  display: flex;
  justify-content: center;
}

.rightBox {
  display: inline-grid;
  margin: 0px 0px 5px 5px;
}

.bigBox {
  background-color: aquamarine;
  border: 1px solid black;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
}