body{
  background-color: #1d3a52;
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex-direction-column{
  flex-direction: column;
}


.justfy-center {
  justify-content: center;
}

.grid-3-1 {
  justify-content: center;
  grid-template: 50vh 45vh/ 20vw 30vw 20vw 20vw;
}

.box {
  background-color: #e7dbbe;
  border: 1px solid black;
}

.leftBox {
  margin: 0px 5px 5px 0px;
  flex-direction: column;
}

.centerBox {
  margin: 0px 0px 5px 0px;
  justify-content: center;
  flex-direction: column;
}

.rightBox {
  display: inline-grid;
  margin: 0px 0px 5px 5px;
}

.bigBox {
  background-color: #e7dbbe;
  border: 1px solid black;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
}